!!! 5
%html(lang="fr")
  %head
    %meta(charset="UTF-8")
    %title #{(title ? title + " - " : "")}Un geek en orbite
    %meta(name="description" content="#{(title ? title + " - " : "Un geek en orbite")}")
    %link(href="/layout.css?v1" rel="stylesheet")
    %link(href="/print.css" rel="stylesheet" media="print")
    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml")
    %link(href="/favicon.ico" rel="icon" type="image/x-icon")
  %body
    #container
      #header
        %a{href: "/"}
          %h1
            Un geek en orbite
          %h2.tagline
            blogue exploratoire | laboratoire journalis&eacute;
      = content
      
      #footer
        %p Code source, design, contenu et articles &copy; 2011 Martin Angers sous la license MIT. Tous les exemples de code utilisés sont du domaine public.
        %p Wheat s'exécutant sous node #{process.version}
    :script
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :script
      try {
      var pageTracker = _gat._getTracker("UA-12824411-1");
      pageTracker._trackPageview();
      } catch(err) {}
